name: Test

on:
  push:
    branches: "main"
  pull_request:
    branches: "main"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.21, 1.22, 1.23, 1.24]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      run: go build -v ...

    - name: Test
      run: go test -v ...